ion-toolbar ion-title {
  margin-top: 10px;
}
.ideas-page-icon {
  font-size: 128px;
}

.memories-page {
  --background: #ff5733;
}

.grid-Dreams-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ideas-page-ion-item {
  width: 20rem;
}
