.dasboard-thumbsUp {
  color: dodgerblue;
}

.dashboard-header-img {
  display: flex;
  width: 60px;
}

.dashboard-spacer {
  margin-right: 90px;
}

.avatar {
  display: flex;
  flex-direction: row;
  width: 40px;
}
