.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: limegreen;
  /* justify-content: center; */
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-button {
  --background: limegreen;
}

ion-grid {
  padding: 0px;
}

.local-icon {
  color: white;
}
